/* src/components/pagination/Pagination.module.css */

@reference "tailwindcss";

/* Mobile */
.mobileBtn {
  @apply relative inline-flex items-center rounded-md
         border border-white/10 bg-white/5
         px-4 py-2
         text-sm font-medium text-gray-200
         hover:bg-white/10;
}

.mobileNextBtn {
  @apply ml-3;
}

/* Desktop */
.paginationBtn {
  @apply relative inline-flex items-center px-4 py-2  
         text-sm font-semibold;
}

.paginationCurrentBtn {
  @apply bg-indigo-500 text-white 
         focus:z-20 focus-visible:outline-2 
         focus-visible:outline-offset-2 
         focus-visible:outline-indigo-500;
}

.paginationNumberBtn {
  @apply text-gray-200 inset-ring inset-ring-gray-700 
         hover:bg-white/5 
         focus:z-20 focus:outline-offset-0;
}

.paginationArrowBtn {
  @apply rounded-l-md 
         px-2 py-2 text-gray-400 inset-ring inset-ring-gray-700 
         hover:bg-white/5 focus:z-20 
         focus:outline-offset-0;
}

