@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(27.8% 0.033 256.848);
    --foreground: oklch(96.7% 0.003 264.542);

    /* 
      1 : bg-sky-500
      2 : bg-indigo-600
      3 : bg-cyan-400
      bg-blue-700
      bg-violet-600
      bg-indigo-400 
      */

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

